// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  ol, ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }
  input {
    border-radius: 0 !important;
    -webkit-appearance: none;

    &::placeholder {
      color: #000000;
      opacity: 1;
    }
    &:focus {
      // border: none;
      outline-color: none !important;
      outline: -webkit-focus-ring-color auto 0;
      outline-color: none;
      outline-style: none;
      outline-width: 0;
    }
  }

  a, a:hover {
    color: #000000;
    text-decoration: underline;
  }
}
@font-face {
  font-family: 'Apercu Bold';
  src: font-url("Apercu-Bold.otf");
}
@font-face {
  font-family: 'Apercu Light';
  src: font-url("Apercu-Light.otf");
}
@font-face {
  font-family: 'Apercu Light Italic';
  src: font-url("Apercu-Light-Italic.otf");
}

// GENERAL

#wrapper {
  width: calc(100vw - 30px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Apercu Bold", "Times New Roman", Times, serif;
  line-height: 1.2em;
  letter-spacing: -2px;
}

p, input {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.small {
  font-size: 1em;
}

@media only screen and (min-width: 750px) {
  p, input {
    font-size: 2.4vw;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.h-100 {
  min-height: 100vh;
}


//INDEX

.title {
  font-size: 11vw;
  text-align: center;
}
.times {
  font-family: "Times New Roman", Times, serif;
}

form {
  max-width: 767px;
  p {
    font-family: "Apercu Bold", "Times New Roman", Times, serif;
  }
  p, input {
    margin-bottom: 1em;
  }

  input {
    border-bottom: 2px solid #000000;
    background-color: #ffffff;
    width: 100%;

  }
}
.small {
  margin-top: 1em;
}
.button.black {
  cursor: pointer;
  border: 2px solid #000000;
  padding: 0.5em 0;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0 !important;

  &:hover {
    padding: 0.5em 0;
    background-color: #ffffff;
    color: #000000;
  }
}
